<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleanor Palmer - Web Developer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="responsive-header visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-section">
                        <div class="profile-content">
                            <a href="http://epalmer.azurewebsites.net"><h3 class="profile-title">Eleanor Palmer</h3></a>
                            <p class="profile-description">Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="toggle-menu">Menu</a>
            <div class="main-navigation responsive-menu">
                <ul class="navigation">
                    <li class="blog-title-link">
                        @Html.ActionLink("Blog", "Index", "Posts")
                    </li>
                    <li>
                        @Html.ActionLink("Categories", "Index", "Categories", new { @class = "subtitle" })
                        <ul>
                            <li>
                                <span><a href="#">Front-End Development</a></span>
                                <span><a href="#">Data Analysis</a></span>
                                <span><a href="#">Jobs and Careers</a></span>
                                <span><a href="#">Javascript</a></span>
                                <span><a href="#">WordPress</a></span>
                                <span><a href="#">User Experience</a></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
                        {
                            <input type="text" name="query" class="search" value="@ViewBag.Query" />
                            <input type="submit" class="search" value="&#xe003" />
                        }
                    </li>
                    <li>
                        @Html.ActionLink("About", "Index", "Home")
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div> <!-- .main-navigation -->

        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="sidebar-menu hidden-xs hidden-sm">
        <div class="top-section">
            <a href="http://epalmer.azurewebsites.net"><h3 class="profile-title">Eleanor Palmer</h3></a>
            <p class="profile-description">Web Developer</p>
        </div> <!-- top-section -->
        <div class="main-navigation">
            <ul class="navigation">
                <li class="blog-title-link">
                    @Html.ActionLink("Blog", "Index", "Posts")
                </li>
                <li>
                    @Html.ActionLink("Categories", "Index", "Categories", new { @class = "subtitle" } )
                    <ul>
                        <li>
                            <span><a href="#">Front-End Development</a></span>
                            <span><a href="#">Data Analysis</a></span>
                            <span><a href="#">Jobs and Careers</a></span>
                            <span><a href="#">Javascript</a></span>
                            <span><a href="#">WordPress</a></span>
                            <span><a href="#">User Experience</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
                    {
                    <input type="text" name="query" class="search" value="@ViewBag.Query" />
                    <input type="submit" class="search" value="&#xe003" />
                    }
                </li>
                <li>
                    @Html.ActionLink("About", "Index", "Home")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div> <!-- .main-navigation -->
    </div> <!-- .sidebar-menu -->

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="fluid-container">

                @RenderBody()
            
                
                <div class="row" id="footer">
                    <div class="text-center col-md-12">
                        <hr>
                        <p class="copyright-text">&copy; @DateTime.Now.Year - Eleanor Palmer</p>
                    </div>
                </div>

            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/plugins")
        @RenderSection("scripts", required: false)
</body>
</html>
